tmp/
runner-build
runner-build-errors.log

*.log

logs/
/logs/**

# Ignore contents of specific upload folders, but keep the folders
uploads/avatars/*
!uploads/avatars/.gitkeep
uploads/posters/*
!uploads/posters/.gitkeep

# Go build output
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE settings
.idea/
.vscode/

# Environment variables
.env
.env.*
!.env.example

# Compiled binary
Backend
Backend.exe